/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

body {
    background-color: #98a0e7;
    margin: 10px;
    font-family: 
    'Times New Roman', Times, serif;
}
header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}

#inspiration {
    background-color: rgb(51, 88, 117);
    padding-top: 40px;
    padding-bottom: 40px;
}
#homework {
    background-color: #5f3f4d;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 5px;
}   
#tutorials {
    background-color: darkcyan;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 5px;
}
#homepage {
    background-color: #372951;
    color:azure;
}